@media (min-width: 1400px) and (max-width: 1600px) {
    .wsus__banner {
        height: auto;
    }

    .wsus__banner_bottom_text .img {
        margin-bottom: 190px;
    }

    .wsus__counter_img {
        width: 690px;
    }

    .wsus__counter .container {
        padding-top: 75px !important;
        padding-bottom: 100px !important;
    }

    .wsus__work::before {
        width: 446px;
        height: 590px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    /* ==============================
        HOME PAGE START
    ============================== */
    .wsus__banner {
        height: auto;
    }

    .wsus__banner_bottom_text .img {
        margin-bottom: 190px;
    }

    .section_heading h2 {
        font-size: 38px;
    }

    .wsus__counter_img {
        width: 580px;
        bottom: 100px;
    }

    .wsus__counter .container {
        padding-top: 75px !important;
        padding-bottom: 100px !important;
    }

    .wsus__work::after {
        width: 770px;
        height: 620px;
    }

    .wsus__work::before {
        width: 445px;
        height: 585px;
        animation: work_animi linear 1.8s infinite alternate;
        -webkit-animation: work_animi linear 1.8s infinite alternate;
    }

    .wsus__work_text_area::after {
        width: 650px;
        height: 192px;
        top: 39px;
        left: -56px;
    }

    .wsus__single_blog_text {
        padding: 25px;
    }

    .wsus__single_blog_text ul {
        gap: 20px;
    }

    .wsus__single_blog_img {
        height: 200px;
    }

    .wsus__single_category_img {
        height: 140px;
    }

    .wsus__single_listing_text .rating {
        font-size: 14px;
    }

    /* ==============================
        HOME PAGE END
    ============================== */

    /* ==============================
        ABOUT PAGE START
    ============================== */
    .wsus__about_text h2 {
        font-size: 38px;
    }

    .wsus__contact_info_item .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
    }

    .wsus__contact_info_item .text {
        width: 77%;
    }

    .wsus__single_agent_text a {
        font-size: 20px;
    }

    /* ==============================
        ABOUT PAGE END
    ============================== */

    /* ==============================
        BLOG DETAILS START
    ============================== */
    .wsus__blog_details_img {
        height: 400px;
    }

    .details_gallery_item {
        height: 160px;
    }

    .wsus__blog_details_text ul li,
    .wsus__blog_details_text ol li {
        width: 50%;
    }

    .single_review .text {
        width: 86%;
    }

    .sidebar_blog_post ul li .text {
        width: 57%;
    }

    .wsus__blog_sidebar {
        padding: 20px;
    }

    /* ==============================
        BLOG DETAILS END
    ============================== */

    /* ==============================
        CONTACT  START
    ============================== */
    .wsus__contact_img {
        width: 800px;
        position: relative;
        left: -90px;
        margin-top: 65px;
    }

    .wsus__contact_form p {
        width: 70%;
    }

    .wsus__contact_form form {
        padding: 30px;
    }

    /* ==============================
        CONTACT  END
    ============================== */

    /* ==============================
        DASHBOARD  START
    ============================== */
    .wsus__deshboard_menu li a {
        font-size: 15px;
    }

    .wsus__message_text {
        width: 82%;
    }

    .wsus__add_property .common_btn {
        padding: 13px 18px;
    }

    /* ==============================
        DASHBOARD  END
    ============================== */

    /*===================================
        LISTING DETAILS START
    ===================================*/
    .wsus__listing_details_top .text {
        max-width: 77%;
    }

    .sidebar_listing ul li .text {
        width: 61%;
    }

    .wsus__work_item .text h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    /*===================================
        LISTING DETAILS END
    ===================================*/
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    /* ==============================
        HOME PAGE START
    ============================== */
    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px 13px;
        font-size: 15px;
    }

    .main_menu .menu_right .user_icon {
        margin-right: 10px;
    }

    .wsus__work_item .text h3 {
        font-size: 16px;
        margin-top: 10px;
    }

    .main_menu .navbar-brand {
        max-width: 140px;
    }

    .section_heading h2 {
        font-size: 36px;
    }

    .wsus__features_item h3 {
        font-size: 18px;
    }

    .wsus__counter_img {
        width: 460px;
        bottom: 100px;
    }

    .wsus__work::before,
    .wsus__work::after,
    .wsus__work_text_area::after {
        display: none;
    }

    .wsus__work_item .text {
        width: 100%;
    }

    .wsus__single_testimonial {
        padding: 75px 45px 110px 45px !important;
        margin: 75px 12px 55px 12px !important;
    }

    .testimonial_slider .slick-center .wsus__single_testimonial::after {
        width: 85px;
        height: 60px;
    }

    .wsus__footer_info .footer_logo {
        width: 150px;
    }

    .single__famous_cities {
        height: 310px;
    }

    .wsus__counter .container {
        padding-top: 75px !important;
        padding-bottom: 100px !important;
    }


    .wsus__work_text_area .margin_md_1,
    .wsus__work_text_area .margin_md_2 {
        margin-top: 0 !important;
    }

    .wsus__work {
        padding-bottom: 100px !important;
    }

    .wsus__single_counter {
        padding: 25px;
    }

    .wsus__single_counter .icon {
        width: 60px;
        height: 60px;
    }

    .wsus__single_blog_img {
        height: 210px;
    }

    .wsus__subscription_text h2 {
        font-size: 32px;
    }

    .wsus__footer_apps h3,
    .wsus__footer_link h3 {
        font-size: 17px;
    }

    .wsus__single_listing_img,
    .single_list_slider {
        height: 210px;
    }

    /* ==============================
        HOME PAGE END
    ============================== */

    /* ==============================
        ABOUT PAGE START
    ============================== */
    .wsus__breadcroumb_overlay {
        padding-top: 250px;
    }

    .wsus__about_img .about_single_img_1::after {
        top: -20px;
        left: -20px;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__about_text h2 {
        font-size: 36px;
    }

    .wsus__contact_info_item .text {
        width: 80%;
    }

    /* ==============================
        ABOUT PAGE END
    ============================== */
    .wsus__quick_contact {
        margin-top: 25px;
    }

    /* ==============================
        BLOG DETAILS START
    ============================== */
    .wsus__blog_details_img {
        height: 340px;
    }

    .details_gallery_item {
        height: 140px;
    }

    .wsus__blog_details_text ul li,
    .wsus__blog_details_text ol li {
        width: 50%;
    }

    .single_review .text {
        width: 83%;
    }

    .sidebar_blog_post ul li .text {
        width: 57%;
    }

    .wsus__blog_sidebar {
        padding: 20px;
    }

    /* ==============================
        BLOG DETAILS END
    ============================== */

    /* ==============================
        CONTACT  START
    ============================== */
    .wsus__contact_img {
        display: none;
    }

    .wsus__contact_form {
        margin-top: 0;
    }

    /* ==============================
        CONTACT  END
    ============================== */

    /* ==============================
        DASHBOARD  START
    ============================== */
    .wsus__deshboard_menu li a {
        font-size: 15px;
    }

    .wsus__message_text {
        width: 78%;
    }

    .wsus__dash_banner_main {
        height: 300px;
    }

    .wsus__add_property .common_btn {
        padding: 13px 12px;
        font-size: 14px;
    }

    /* ==============================
        DASHBOARD  END
    ============================== */

    .wsus__faq_text h3 {
        font-size: 34px;
    }

    .wsus__sign_in_text {
        padding: 25px 25px 25px 0px;
    }

    .wsus__sign_in_img {
        height: 100%;
    }

    /*===================================
        LISTING DETAILS START
    ===================================*/
    .wsus__listing_details_top .text {
        max-width: 74%;
    }

    .wsus__listing_details_img {
        height: 370px;
    }

    .details_amenities ul li {
        width: 50%;
    }

    .details_map {
        height: 350px;
    }

    .details_videos_item {
        height: 200px;
    }

    .single_review .text h3 {
        font-size: 22px;
    }

    .wsus__sidebar_modal .modal-body {
        padding: 25px;
    }

    .wsus__sidebar_modal .sidebar_modal_header .img {
        margin-bottom: 10px;
    }

    .sidebar_listing ul li .text {
        width: 75%;
    }

    .wsus__sidebar_item {
        padding: 25px;
    }

    .wsus__sidebar_item h3 {
        font-size: 20px;
    }

    .sidebar_agent h2 {
        font-size: 22px;
    }

    .sidebar_listing ul li .text {
        width: 55%;
    }

    .sidebar_link ul {
        gap: 10px;
    }

    .wsus__listing_sidebar_area {
        padding: 20px;
    }

    /*===================================
        LISTING DETAILS END
    ===================================*/
}

@media (min-width: 768px) and (max-width: 991.99px) {

    /* ==============================
        HOME PAGE START
    ============================== */
    .main_menu .navbar-brand {
        max-width: 150px;
        margin-left: 15px;
    }

    .main_menu .container {
        padding: 20px 0px;
    }

    .main_menu .navbar-nav {
        line-height: 60px;
        background: var(--colorWhite);
        padding-top: 10px;
    }

    .main_menu .menu_right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: var(--colorWhite);
        border-bottom: 1px solid var(--colorPrimary);
        padding: 10px 10px 25px 10px;
    }

    #navbarSupportedContent {
        margin-top: 20px;
        border-top: 1px solid var(--colorPrimary);
    }

    .main_menu .wsus__droap_menu {
        left: 15px;
    }

    .main_menu .wsus__droap_menu {
        max-height: 250px;
    }

    .wsus__banner_text h1,
    .wsus__banner_text h1 span {
        font-size: 42px;
    }

    .wsus__banner_text h1 {
        margin-bottom: 40px;
    }

    .banner_search_form ul .banner_btn,
    .banner_search_form ul .banner_input,
    .banner_search_form ul .banner_category,
    .banner_search_form ul .banner_location {
        width: 48%;
    }

    .section_heading h2 {
        font-size: 36px;
    }

    .wsus__features_item h3 {
        font-size: 18px;
    }

    .wsus__counter_img {
        display: none;
    }

    .wsus__work::before,
    .wsus__work::after,
    .wsus__work_text_area::after {
        display: none;
    }

    .wsus__work_item .text {
        width: 100%;
        margin-top: 10px;
    }

    .wsus__work_item .text h3 {
        font-size: 16px;
    }

    .wsus__single_testimonial {
        padding: 75px 45px 110px 45px !important;
        margin: 75px 12px 55px 12px !important;
    }

    .testimonial_slider .slick-center .wsus__single_testimonial::after {
        width: 85px;
        height: 60px;
    }

    .wsus__subscription_img {
        display: none;
    }

    .wsus__footer_info .footer_logo {
        width: 150px;
    }

    .wsus__footer_link,
    .wsus__footer_apps {
        margin-top: 50px;
    }

    .single__famous_cities {
        height: 310px;
    }

    .wsus__counter .container {
        padding-top: 75px !important;
        padding-bottom: 100px !important;
    }


    .wsus__work_text_area .margin_md_1,
    .wsus__work_text_area .margin_md_2 {
        margin-top: 0 !important;
    }

    .wsus__work {
        padding-bottom: 100px !important;
    }

    .wsus__footer_apps ul {
        flex-direction: row;
    }

    /* ==============================
        HOME PAGE END
    ============================== */

    /* ==============================
        ABOUT PAGE START
    ============================== */
    .wsus__breadcroumb_text .icon {
        width: 120px;
        height: 120px;
        padding: 35px;
    }

    .wsus__breadcroumb_text .text h1 {
        font-size: 38px;
    }

    .wsus__breadcroumb_overlay {
        padding-top: 250px;
    }

    .wsus__about_img .about_single_img_1::after {
        top: -20px;
        left: -20px;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__about_text h2 {
        font-size: 36px;
    }

    .wsus__contact_info_item .icon {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .wsus__contact_info_top h2 {
        font-size: 28px;
    }

    .wsus__contact_info_item .text {
        width: 77%;
    }

    .wsus__contact_info_item .text h3 {
        font-size: 18px;
    }

    .section_heading p {
        font-size: 16px;
    }

    .progress-wrap {
        right: 20px;
        bottom: 15px;
    }

    /* ==============================
        ABOUT PAGE END
    ============================== */
    .wsus__main_agent {
        padding: 35px;
    }

    .wsus__main_agent_text {
        border-left: 0;
        padding: 25px 0px 0px 0px;
        margin-left: 0;
    }

    .wsus__quick_contact {
        margin-top: 25px;
    }

    /* ==============================
        BLOG DETAILS START
    ============================== */
    .wsus__blog_details_img {
        height: 380px;
    }

    .wsus__blog_details_text ul li,
    .wsus__blog_details_text ol li {
        width: 50%;
    }

    .single_review .text {
        width: 85%;
    }

    .details_review_input {
        margin-bottom: 25px;
    }

    .sidebar_blog_post ul li .text {
        width: 75%;
    }

    /* ==============================
        BLOG DETAILS END
    ============================== */

    /* ==============================
        CONTACT  START
    ============================== */
    .wsus__contact_img {
        display: none;
    }

    .wsus__contact_form {
        margin-top: 0;
    }

    /* ==============================
        CONTACT  END
    ============================== */

    /* ==============================
        DASHBOARD  START
    ============================== */
    .wsus__dashboard_main_content {
        margin-top: 25px;
    }

    .wsus__message_text {
        width: 90%;
        padding: 15px 0px;
    }

    .wsus__message_icon a {
        padding: 10px;
    }

    .wsus__dash_banner_main {
        height: 300px;
    }

    .wsus__add_property .common_btn {
        padding: 13px 6px;
    }

    /* ==============================
        DASHBOARD  END
    ============================== */
    .wsus__error_text p {
        max-width: 100%;
    }

    .wsus__faq_form {
        margin-top: 25px;
    }

    .wsus__faq_text h3 {
        font-size: 34px;
    }

    .wsus__sign_in_text {
        padding: 25px 25px 25px 0px;
    }

    .wsus__sign_in_img {
        height: 100%;
    }

    /*===================================
        LISTING DETAILS START
    ===================================*/
    .wsus__listing_details_top .text {
        max-width: 76%;
    }

    .wsus__listing_details_img {
        height: 370px;
    }

    .details_amenities ul li {
        width: 50%;
    }

    .details_map {
        height: 350px;
    }

    .details_videos_item {
        height: 200px;
    }

    .single_review .text h3 {
        font-size: 22px;
    }

    .wsus__sidebar_modal .modal-body {
        padding: 25px;
    }

    .sidebar_listing ul li .text {
        width: 75%;
    }

    .wsus__sidebar_modal .modal-dialog {
        width: 90%;
    }

    /*===================================
        LISTING DETAILS END
    ===================================*/

    .wsus_list_search_box {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {

    /* ==============================
        HOME PAGE END
    ============================== */
    .main_menu .navbar-brand {
        max-width: 150px;
        margin-left: 15px;
    }

    .main_menu .container {
        padding: 20px 0px;
    }

    .main_menu .navbar-nav {
        line-height: 60px;
        background: var(--colorWhite);
        padding-top: 10px;
    }

    .main_menu .menu_right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: var(--colorWhite);
        border-bottom: 1px solid var(--colorPrimary);
        padding: 10px 10px 25px 10px;
    }

    #navbarSupportedContent {
        margin-top: 20px;
        border-top: 1px solid var(--colorPrimary);
    }

    .main_menu .wsus__droap_menu {
        left: 15px;
    }

    .main_menu .menu_right .add_list_btn {
        padding: 13px 14px;
        font-size: 14px;
    }

    .main_menu .wsus__droap_menu {
        max-height: 250px;
    }

    .wsus__banner_text h1,
    .wsus__banner_text h1 span {
        font-size: 42px;
    }

    .wsus__banner_text h1 {
        margin-bottom: 40px;
    }

    .wsus__banner_text .nav-pills .nav-item button {
        font-size: 14px;
        padding: 7px 24px;
    }

    .banner_search_form ul .banner_btn,
    .banner_search_form ul .banner_input,
    .banner_search_form ul .banner_category,
    .banner_search_form ul .banner_location {
        width: 100%;
    }

    .section_heading h2 {
        font-size: 28px;
    }

    .wsus__features_item h3 {
        font-size: 18px;
    }

    .wsus__single_category_img {
        height: auto;
    }

    .wsus__counter_img {
        display: none;
    }

    .wsus__work::before,
    .wsus__work::after,
    .wsus__work_text_area::after {
        display: none;
    }

    .wsus__work_item .text {
        width: 81%;
    }

    .wsus__work_item .text h3 {
        font-size: 16px;
    }

    .wsus__single_testimonial {
        padding: 40px 30px 90px 30px !important;
        margin: 75px 12px 55px 12px !important;
    }

    .testimonial_slider .slick-center .wsus__single_testimonial::after {
        width: 85px;
        height: 60px;
    }

    .wsus__subscription_text h2 {
        font-size: 28px;
    }

    .wsus__subscription_img {
        display: none;
    }

    .wsus__footer_info .footer_logo {
        width: 150px;
    }

    .wsus__footer_link,
    .wsus__footer_apps {
        margin-top: 50px;
    }

    .wsus__copyright_text p {
        margin-bottom: 15px;
    }

    .wsus__agent_page .wsus__single_listing_img,
    .wsus__famous_listing .wsus__single_listing_img,
    .wsus__famous_listing .single_list_slider {
        height: 300px;
    }

    .wsus__single_blog_img {
        height: 300px;
    }

    /* ==============================
        HOME PAGE END
    ============================== */

    /* ==============================
        ABOUT PAGE START
    ============================== */
    .wsus__breadcroumb_text .icon {
        width: 100px;
        height: 100px;
        padding: 25px;
    }

    .wsus__breadcroumb_text .text h1 {
        font-size: 34px;
        margin-bottom: 5px;
    }

    .wsus__breadcroumb_overlay {
        padding-top: 200px;
    }

    .wsus__about_img .about_single_img_1::after {
        top: -20px;
        left: -20px;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__about_text h2 {
        font-size: 28px;
    }

    .wsus__contact_info_item .icon {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .wsus__contact_info_top h2 {
        font-size: 28px;
    }

    .wsus__contact_info_item .text {
        width: 85%;
    }

    .wsus__contact_info_item .text h3 {
        font-size: 18px;
    }

    .section_heading p {
        font-size: 16px;
    }

    .progress-wrap {
        right: 20px;
        bottom: 15px;
    }

    /* ==============================
        ABOUT PAGE END
    ============================== */

    /* ==============================
        AGENT DETAILS START
    ============================== */
    .wsus__main_agent_text {
        border-left: 0;
        padding: 0;
        margin-top: 20px;
        margin-left: 0;
        padding-bottom: 15px;
    }

    .wsus__quick_contact {
        margin-top: 25px;
    }

    /* ==============================
        AGENT DETAILS END
    ============================== */

    /* ==============================
        BLOG DETAILS START
    ============================== */
    .wsus__blog_details_img {
        height: 280px;
    }

    .wsus__blog_details_header ul li {
        padding-right: 20px;
    }

    .wsus__blog_details_text ul li,
    .wsus__blog_details_text ol li {
        width: 50%;
    }

    .single_review .text {
        width: 100%;
        margin-top: 25px;
    }

    .details_review_input {
        padding: 25px;
        margin-bottom: 25px;
    }

    .wsus__blog_sidebar {
        padding: 25px;
    }

    .sidebar_blog_post ul li .text {
        width: 75%;
    }

    /* ==============================
        BLOG DETAILS END
    ============================== */

    /* ==============================
        CONTACT  START
    ============================== */
    .wsus__contact_img {
        display: none;
    }

    .wsus__contact_form p {
        width: 100%;
    }

    .wsus__contact_form form {
        padding: 30px;
    }

    .wsus__contact_form h3 {
        font-size: 26px;
    }

    /* ==============================
        CONTACT  END
    ============================== */

    /* ==============================
        DASHBOARD  START
    ============================== */
    .wsus__dashboard_main_content {
        margin-top: 25px;
    }

    .wsus__message_text {
        width: 100%;
        padding: 15px 0px;
    }

    .wsus__message_icon a {
        padding: 10px;
    }

    .invoice_left {
        margin-bottom: 50px;
    }

    .invoice_right {
        text-align: left;
    }

    .medicine_row_input button {
        margin-bottom: 20px;
    }

    .wsus__dash_banner_main {
        height: 240px;
    }

    .nearest_location .select2-container .select2-selection--single {
        margin-bottom: 20px;
    }

    /* ==============================
        DASHBOARD  END
    ============================== */
    .wsus__faq_text h3 {
        font-size: 28px;
    }

    .wsus__faq_form {
        padding: 0px 25px 25px 25px;
        margin-top: 25px;
    }

    .wsus__sign_in_img {
        display: none;
    }

    .wsus__sign_in_text {
        padding: 40px;
    }

    .wsus__sign_in_text h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .wsus__forgot_password .wsus__sign_in_img {
        height: auto;
    }

    /*===================================
        LISTING DETAILS START
    ===================================*/
    .wsus__listing_details_top .text {
        max-width: 100%;
        margin-top: 25PX;
    }

    .wsus__listing_details_top .text h2 {
        font-size: 24px;
    }

    .wsus__listing_details_img {
        height: auto;
    }

    .details_amenities ul li {
        width: 100%;
    }

    .details_facilities ul li {
        width: 100%;
    }

    .details_map {
        height: 300px;
    }

    .details_videos_item {
        height: auto;
    }

    .wsus__sidebar_item h3 {
        font-size: 18px;
    }

    .single_review .text h3 {
        font-size: 22px;
    }

    .details_gallery_item {
        height: 160px;
    }

    .wsus__sidebar_modal .modal-body {
        padding: 25px;
    }

    .sidebar_listing ul li .text {
        width: 75%;
    }

    .sidebar_link ul {
        gap: 10px;
    }

    .wsus__sidebar_item {
        padding: 25px;
    }

    .wsus__sidebar_modal .modal-dialog {
        width: 90%;
    }

    /*===================================
        LISTING DETAILS END
    ===================================*/

    .wsus_list_search_box {
        margin-bottom: 15px;
    }
}

@media (max-width: 575.99px) {

    /* ==============================
        HOME PAGE START
    ============================== */
    .main_menu .navbar-brand {
        max-width: 150px;
        margin-left: 15px;
    }

    .main_menu .container {
        padding: 20px 0px;
    }

    .main_menu .navbar-nav {
        line-height: 60px;
        background: var(--colorWhite);
        padding-top: 10px;
    }

    .main_menu .menu_right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: var(--colorWhite);
        border-bottom: 1px solid var(--colorPrimary);
        padding: 10px 10px 25px 10px;
    }

    #navbarSupportedContent {
        margin-top: 20px;
        border-top: 1px solid var(--colorPrimary);
    }

    .main_menu .wsus__droap_menu {
        left: 15px;
    }

    .main_menu .menu_right .add_list_btn {
        margin-right: 10px;
        padding: 13px 14px;
        font-size: 14px;
    }

    .main_menu .menu_right .user_icon {
        margin-right: 10px;
    }

    .main_menu .wsus__droap_menu {
        max-height: 250px;
    }

    .wsus__banner_text h1,
    .wsus__banner_text h1 span {
        font-size: 42px;
    }

    .wsus__banner_text h1 {
        margin-bottom: 40px;
    }

    .wsus__banner_text .nav-pills .nav-item button {
        font-size: 14px;
        padding: 7px 24px;
    }

    .banner_search_form ul .banner_btn,
    .banner_search_form ul .banner_input,
    .banner_search_form ul .banner_category,
    .banner_search_form ul .banner_location {
        width: 100%;
    }

    .section_heading h2 {
        font-size: 28px;
    }

    .wsus__features_item h3 {
        font-size: 18px;
    }

    .wsus__single_category_img {
        height: auto;
    }

    .wsus__counter_img {
        display: none;
    }

    .wsus__work::before,
    .wsus__work::after,
    .wsus__work_text_area::after {
        display: none;
    }

    .wsus__work_item .text {
        width: 81%;
    }

    .wsus__work_item .text h3 {
        font-size: 16px;
    }

    .wsus__single_testimonial {
        padding: 40px 30px 90px 30px !important;
        margin: 75px 12px 55px 12px !important;
    }

    .testimonial_slider .slick-center .wsus__single_testimonial::after {
        width: 85px;
        height: 60px;
    }

    .wsus__subscription_text h2 {
        font-size: 28px;
    }

    .wsus__subscription_img {
        display: none;
    }

    .wsus__footer_info .footer_logo {
        width: 150px;
    }

    .wsus__footer_link,
    .wsus__footer_apps {
        margin-top: 50px;
    }

    .wsus__copyright_text p {
        margin-bottom: 15px;
    }

    /* ==============================
        HOME PAGE END
    ============================== */

    /* ==============================
        ABOUT PAGE START
    ============================== */
    .wsus__breadcroumb_text .icon {
        display: none;
    }

    .wsus__breadcroumb_text .text h1 {
        font-size: 28px;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .wsus__breadcroumb_overlay {
        padding-top: 180px;
        padding-bottom: 10px;
    }

    .wsus__about_img .about_single_img_1::after {
        top: -10px;
        left: -10px;
    }

    .wsus__about_img .about_single_img_2 {
        position: relative;
        margin-top: 25px;
        border: none;
    }

    .wsus__about_img .about_single_img_1 {
        width: auto !important;
        height: auto !important;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__about_text h2 {
        font-size: 24px;
    }

    .wsus__contact_info_item .icon {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .wsus__contact_info_top h2 {
        font-size: 28px;
    }

    .wsus__contact_info_item .text {
        width: 100%;
    }

    .wsus__contact_info_item .text h3 {
        font-size: 18px;
    }

    .section_heading p {
        font-size: 16px;
    }

    .wsus__about_img a {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        -webkit-transform: translate(-50%, -50%) !important;
        -moz-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
        -o-transform: translate(-50%, -50%) !important;
    }

    .progress-wrap {
        right: 20px;
        bottom: 15px;
    }

    /* ==============================
        ABOUT PAGE END
    ============================== */

    /* ==============================
        AGENT DETAILS START
    ============================== */
    .wsus__main_agent {
        padding: 0;
    }

    .wsus__main_agent_text {
        border-left: 0;
        padding: 25px;
        margin-left: 0;
    }

    .wsus__quick_contact {
        margin-top: 25px;
    }

    /* ==============================
        AGENT DETAILS END
    ============================== */

    /* ==============================
        BLOG DETAILS START
    ============================== */
    .wsus__blog_details_img {
        height: auto;
    }

    .wsus__blog_details_text ul li,
    .wsus__blog_details_text ol li {
        width: 100%;
    }

    .single_review .text {
        width: 100%;
        margin-top: 25px;
    }

    .details_review_input {
        padding: 25px;
        margin-bottom: 25px;
    }

    .wsus__blog_sidebar {
        padding: 25px;
    }

    .sidebar_blog_post ul li .text {
        width: 100%;
        margin-top: 10px;
    }

    /* ==============================
        BLOG DETAILS END
    ============================== */

    /* ==============================
        CONTACT  START
    ============================== */
    .wsus__contact_img {
        display: none;
    }

    .wsus__contact_form p {
        width: 100%;
    }

    .wsus__contact_form form {
        padding: 20px;
    }

    .wsus__contact_form h3 {
        font-size: 26px;
    }

    .wsus__contact_form {
        margin-top: 0;
    }

    /* ==============================
        CONTACT  END
    ============================== */

    /* ==============================
        DASHBOARD  START
    ============================== */
    .wsus__dashboard_main_content {
        margin-top: 25px;
    }

    .wsus__message_text {
        width: 100%;
        padding: 15px 0px;
    }

    .wsus__message_icon a {
        padding: 10px;
    }

    .invoice_left {
        margin-bottom: 50px;
    }

    .invoice_right {
        text-align: left;
    }

    .wsus__dash_info_text {
        padding: 25px;
    }

    .medicine_row_input button {
        margin-bottom: 20px;
    }

    .wsus__dashboard .heading {
        font-size: 22px;
    }

    .wsus__add_property .common_btn {
        font-size: 14px;
    }

    .nearest_location .select2-container .select2-selection--single {
        margin-bottom: 20px;
    }

    .wsus__select_review ul li span {
        width: 100%;
    }

    /* ==============================
        DASHBOARD  END
    ============================== */
    .wsus__error_text p {
        max-width: 100%;
    }

    .wsus__faq_text h3 {
        font-size: 28px;
    }

    .wsus__faq_form {
        padding: 0px 25px 25px 25px;
        margin-top: 25px;
    }

    .wsus__sign_in_img {
        display: none;
    }

    .wsus__sign_in_text {
        padding: 40px;
    }

    .wsus__sign_in_text h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .wsus__forgot_password .wsus__sign_in_img {
        height: auto;
    }

    /*===================================
        LISTING DETAILS START
    ===================================*/
    .wsus__listing_details_top .text {
        max-width: 100%;
        margin-top: 25PX;
    }

    .wsus__listing_details_top .text h2 {
        font-size: 24px;
    }

    .wsus__listing_details_img {
        height: auto;
    }

    .details_amenities ul li {
        width: 100%;
    }

    .details_facilities ul li {
        width: 100%;
    }

    .details_map {
        height: 250px;
    }

    .details_videos_item {
        height: auto;
    }

    .details_facilities,
    .details_amenities,
    .wsus__sidebar_item,
    .details_floore_plan,
    .details_videos {
        padding: 20px;
    }

    .wsus__sidebar_item h3 {
        font-size: 18px;
    }

    .single_review .text h3 {
        font-size: 22px;
    }

    .details_gallery_item {
        height: 160px;
    }

    .sidebar_agent h2 {
        font-size: 20px;
    }

    .wsus__sidebar_modal .modal-body {
        padding: 25px;
    }

    .wsus__sidebar_modal .sidebar_modal_header .img {
        margin-bottom: 10px;
    }

    .sidebar_listing ul li .text {
        width: 57%;
    }

    .sidebar_link ul {
        gap: 10px;
    }

    .details_videos h3,
    .details_floore_plan h3,
    .details_facilities h3,
    .details_gallery h3,
    .details_amenities h3 {
        font-size: 20px;
    }

    /*===================================
        LISTING DETAILS END
    ===================================*/

    .wsus_list_search_box {
        margin-bottom: 15px;
    }

    .wsus__about_img .about_single_img_1::before {
        display: none;
    }

    .wsus__error_text h2 {
        font-size: 34px;
    }
}