/*===================================
    GLOBAL CSS START
===================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--bodyFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #FF5A5F;
    --paraColor: #6C6C6C;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --ratingColor: #FF9900;
    --bodyFont: 'Poppins', sans-serif;
}

.common_btn {
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 500;
    background: #FFE4E5;
    padding: 13px 30px;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common_btn:hover {
    color: var(--colorPrimary);
}

.common_btn i {
    margin-left: 5px;
}

.common_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--colorPrimary);
    border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common_btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.common_btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    border-radius: 5px;
    border: 1px solid var(--colorPrimary);
    transform: scale(1.2, 1.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common_btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.prevArrow.slick-arrow,
.nextArrow.slick-arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ff5a5f26;
    background: #ff5a5f91;
    color: var(--colorWhite);
    transition: all linear .3s;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.nextArrow.slick-arrow,
.prevArrow.slick-arrow:hover,
.nextArrow.slick-arrow:hover {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.section_heading {
    text-align: center;
}

.section_heading h2 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section_heading p {
    font-size: 18px;
    font-weight: 400;
}

.play_btn {
    width: 60px;
    height: 60px;
    line-height: 63px;
    text-align: center;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    position: relative;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.play_btn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--colorPrimary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: playAnimi 2s infinite;
    -webkit-animation: playAnimi 2s infinite;
}

.play_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--colorPrimary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: playAnimi 3s infinite;
    -webkit-animation: playAnimi 3s infinite;
}

@keyframes playAnimi {
    from {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
    }
}

.wsus__pagination ul {
    justify-content: center;
    gap: 15px;
}

.wsus__pagination ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 3px !important;
    background: #F1F1F1;
    color: var(--colorBlack);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}

.wsus__pagination ul li a:hover,
.wsus__pagination ul li a.active {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.wsus__breadcroumb {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__breadcroumb_overlay {
    background: rgba(0, 0, 0, 0.30);
    padding-top: 310px;
}

.wsus__breadcroumb_text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wsus__breadcroumb_text .icon {
    width: 140px;
    height: 140px;
    background: var(--colorPrimary);
    padding: 45px;
    margin-right: 40px;
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
}

.wsus__breadcroumb_text .text h1 {
    color: var(--colorWhite);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.wsus__breadcroumb_text .text ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.wsus__breadcroumb_text .text ul li a {
    font-size: 16px;
    color: var(--colorWhite);
    font-weight: 500;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__breadcroumb_text .text ul li a:hover {
    color: var(--colorPrimary);
}

.wsus__breadcroumb_text .text ul li a::after {
    position: absolute;
    content: "\f054";
    font-family: "font awesome 5 free";
    font-size: 14px;
    font-weight: 600;
    color: var(--colorWhite);
    top: 2px;
    right: -23px;
}

.wsus__breadcroumb_text .text ul li:last-child a::after {
    display: none;
}
/*===================================
    GLOBAL CSS END
===================================*/

/*===================================
    HOME PAGE START
===================================*/
/* menu start */
.main_menu {
    padding: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #ffffffdb;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-brand {
    padding: 0;
    margin: 0;
    max-width: 180px;
}

.main_menu .navbar-nav {
    line-height: 80px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 0px 17px;
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 500;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    margin-left: 3px;
}

.main_menu .navbar-nav .nav-item .nav-link:hover,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}

.main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main_menu .menu_right .user_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FFE4E5;
    color: var(--colorPrimary);
    border-radius: 5px;
    margin-right: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .menu_right .user_icon:hover {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.main_menu .menu_right .add_list_btn {
    margin-right: 20px;
}

.main_menu .menu_right .select_js {
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: none;
    border: none;
    padding-right: 25px;
    min-width: 100px;
}

.main_menu .menu_right .current {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.main_menu .menu_right .nice-select:after {
    right: 4px;
    margin-top: -6px;
}

.main_menu.menu_fix {
    background: var(--colorWhite);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.main_menu .wsus__droap_menu {
    position: absolute;
    width: 220px;
    background: var(--colorWhite);
    line-height: initial;
    border: 1px solid #eee;
    box-shadow: var(--boxShadow);
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    max-height: 450px;
    overflow-y: auto;
    z-index: 99;
}

.main_menu .wsus__droap_menu::-webkit-scrollbar-thumb {
    background: #ddd;
}

.main_menu .wsus__droap_menu::-webkit-scrollbar {
    scrollbar-width: thin !important;
    background: #fff;
    height: 4px;
    width: 4px;
}

.main_menu .wsus__droap_menu li a {
    font-size: 15px;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
    padding: 15px !important;
    margin: 0 !important;
    color: var(--colorBlack);
    width: 100%;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .wsus__droap_menu li a:hover,
.main_menu .wsus__droap_menu li a.active {
    background: #eef4fa;
    border-color: var(--colorWhite);
}


.main_menu .navbar-nav li:hover .wsus__droap_menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

/* menu end */


/* banner start */
.wsus__banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
    overflow: hidden;
    padding-top: 80px;
}

.wsus__banner_text {
    text-align: center;
}

.wsus__banner_text .banner_icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.wsus__banner_text h5 {
    color: #3E3E3E;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wsus__banner_text h1 {
    color: var(--colorBlack);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 60px;
}

.wsus__banner_text .nav-pills {
    margin-bottom: 30px;
    gap: 10px;
}

.wsus__banner_text .nav-pills .nav-item button {
    color: var(--colorBlack);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 7px;
    padding: 9px 24px;
    position: relative;
}

.wsus__banner_text .nav-pills .nav-item button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid var(--colorPrimary);
    bottom: -11px;
    left: 12px;
    opacity: 0;
    transition: all linear .1s;
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -ms-transition: all linear .1s;
    -o-transition: all linear .1s;
}

.wsus__banner_text .nav-pills .nav-item button i {
    margin-right: 5px;
}

.wsus__banner_text .nav-pills .nav-item button:hover,
.wsus__banner_text .nav-pills .nav-item button.active {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.wsus__banner_text .nav-pills .nav-item button.active::after {
    opacity: 1;
}

.banner_search_form {
    border-radius: 5px;
    background: #F2F6F7;
    filter: drop-shadow(0px 0px 25px rgba(94, 94, 94, 0.25));
    padding: 20px;
    width: 100%;
}

.banner_search_form ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner_search_form ul li input {
    padding: 17px 20px;
    border-radius: 5px;
    border: 1px solid #EFEEEE;
}

.banner_search_form ul li button {
    width: 100%;
    text-align: center;
}

.banner_search_form ul .banner_input,
.banner_search_form ul .banner_category,
.banner_search_form ul .banner_location {
    width: 27%;
}

.banner_search_form ul .banner_btn {
    width: 12%;
}

.banner_search_form .select2-container .select2-selection--single {
    height: 60px;
}

.banner_search_form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 60px;
}

.banner_search_form .select2-container--default .select2-selection--single {
    border-radius: 5px;
    border: 1px solid #EFEEEE;
}

.wsus__banner_bottom_text h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.wsus__banner_bottom_text h2 i {
    margin-left: 10px;
    color: var(--ratingColor);
}

.wsus__banner_bottom_text p {
    color: var(--colorBlack);
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.wsus__banner_bottom_text .img {
    width: 230px;
    margin: 0 auto;
}

/* banner end */

/* category start */
.wsus__category_bg {
    border-radius: 10px;
    background: var(--colorWhite);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
    margin-top: -113px;
}

.wsus__category_item {
    display: block;
    border-radius: 10px;
    background: #F1F1F1;
    padding: 25px;
    margin: 0px 12px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__category_item .icon {
    width: 90px;
    height: 90px;
    background: var(--colorWhite);
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
}

.wsus__category_item h3 {
    color: var(--colorBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    margin-top: 20px;
}

.wsus__category_item:hover {
    background: var(--colorPrimary);
}

.wsus__category_item:hover h3 {
    color: var(--colorWhite);
}

.wsus__category .slick-arrow {
    position: absolute;
    top: 50%;
    right: -33px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.wsus__category .prevArrow.slick-arrow {
    right: auto;
    left: -33px;
}

/* category end */


/* features start */
.wsus__features_item {
    text-align: center;
    margin-top: 25px;
}

.wsus__features_item .img {
    width: 150px;
    margin: 0 auto;
}

.wsus__features_item h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* features end */


/* latest listing start */
.wsus__latest_listing {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__single_listing {
    margin-top: 25px;
    border-radius: 5px;
    background: var(--colorWhite);
    box-shadow: 0px 0px 25px 0px rgba(194, 194, 194, 0.25);
    overflow: hidden;
}

.wsus__single_listing_img,
.single_list_slider {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.wsus__single_listing_img .wishlist {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--colorWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing_img .wishlist::after {
    position: absolute;
    content: "";
    background: url(../images/love_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 30px;
    top: -3px;
    left: -33px;
    z-index: -1;
}

.wsus__single_listing_text {
    padding: 45px 30px 30px 30px;
    position: relative;
}

.wsus__single_listing_text .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--colorWhite);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
    padding: 8px;
    position: absolute;
    top: -20px;
    left: 30px;
}

.wsus__single_listing_text .category {
    color: var(--colorPrimary);
    font-size: 14px;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing_text .category:hover {
    color: var(--colorBlack);
}

.wsus__single_listing_text .rating {
    color: var(--ratingColor);
}

.title {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 600;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.title:hover {
    color: var(--colorPrimary);
}

.wsus__single_listing_text .location,
.wsus__single_listing_text .call {
    color: var(--paraColor);
    font-size: 14px;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing_text .location i,
.wsus__single_listing_text .call i {
    width: 20px;
}

.wsus__single_listing_text .call:hover {
    color: var(--colorPrimary);
}

.wsus__single_listing_text .location {
    margin-top: 20px;
    margin-bottom: 5px;
}

.wsus__single_listing:hover .wishlist {
    top: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing:hover .wishlist:hover,
.wsus__single_listing:hover .wishlist.active {
    color: var(--colorBlack);
}

.wsus__single_listing_img .play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.single_list_slider div {
    height: 100%;
}

.wsus__single_listing .prevArrow.slick-arrow,
.wsus__single_listing .nextArrow.slick-arrow {
    position: absolute;
    bottom: 26px;
    right: 23px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #ffffff8f;
    border-color: #ffffff26;
    color: var(--colorBlack);
    font-size: 14px;
}

.wsus__single_listing .prevArrow.slick-arrow {
    right: 53px;
}

.wsus__single_listing .nextArrow.slick-arrow,
.wsus__single_listing .prevArrow.slick-arrow:hover,
.wsus__single_listing .nextArrow.slick-arrow:hover {
    background: var(--colorWhite);
    border-color: var(--colorWhite);
}

/* latest listing end */

/* famous cities start */
.single__famous_cities {
    margin: 0px 12px;
    height: 370px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.single__famous_cities img {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single__famous_cities .text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: 70%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single__famous_cities .text a {
    display: block;
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single__famous_cities .text p {
    color: var(--paraColor);
    font-size: 14px;
    font-weight: 400;
}

.single__famous_cities .text a:hover {
    color: var(--colorPrimary);
}

.wsus__famous_cities .prevArrow.slick-arrow,
.wsus__famous_cities .nextArrow.slick-arrow {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.wsus__famous_cities .prevArrow.slick-arrow {
    right: auto;
    left: 70px;
}

.wsus__famous_cities .nextArrow.slick-arrow,
.wsus__famous_cities .prevArrow.slick-arrow:hover,
.wsus__famous_cities .nextArrow.slick-arrow:hover {
    background: var(--colorPrimary);
    border-color: var(--colorPrimary);
}

.single__famous_cities:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.single__famous_cities:hover .text {
    background: var(--colorWhite);
}

/* famous cities end */


/* categories start */
.wsus__categories {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__single_category {
    border-radius: 10px;
    background: var(--colorWhite);
    box-shadow: 0px 0px 25px 0px rgba(194, 194, 194, 0.25);
    overflow: hidden;
    margin-top: 25px;
}

.wsus__single_category_img {
    height: 170px;
    overflow: hidden;
}

.wsus__single_category_img img {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_category_text {
    position: relative;
}

.wsus__single_category_text .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--colorWhite);
    box-shadow: 0px 0px 25px 0px rgb(194 194 194 / 59%);
    padding: 11px;
    margin-top: -22px;
}

.wsus__single_category_text .title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.wsus__single_category:hover .wsus__single_category_img img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/* categories end */


/* counter start */
.wsus__counter {
    position: relative;
}

.wsus__counter_img {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 880px;
    max-height: 820px;
}

.wsus__counter_img a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 35px;
}

.wsus__single_counter {
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    background: #FFF8F6;
    padding: 45px;
    margin-top: 25px;
}

.wsus__single_counter .icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.wsus__single_counter h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 8px;
}

.wsus__single_counter p {
    color: var(--colorBlack);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.wsus__single_counter.blue {
    border: 1px solid #F2F2F2;
    background: #F8F6FF;
}

.wsus__single_counter.green {
    border: 1px solid #F2F2F2;
    background: #F4FFFD;
}

.wsus__single_counter.yellow {
    border: 1px solid #F2F2F2;
    background: #FCFFF2;
}

/* counter end */


/* work start */
.wsus__work {
    background: url(../images/work_bg.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
}

.wsus__work::before {
    position: absolute;
    content: "";
    background: url(../images/work_img_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 510px;
    height: 675px;
    top: 40px;
    right: 0;
    z-index: 2;
    animation: work_animi linear 1.8s infinite alternate;
    -webkit-animation: work_animi linear 1.8s infinite alternate;
}

.wsus__work::after {
    position: absolute;
    content: "";
    background: url(../images/work_img_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 885px;
    height: 700px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

@keyframes work_animi {
    from {
        right: 0;
    }

    to {
        right: 50px;
    }
}

.wsus__work .section_heading {
    text-align: left;
}

.wsus__work .section_heading h4 {
    color: var(--colorPrimary);
    font-size: 24px;
    font-weight: 400;
}

.wsus__work_item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.wsus__work_item .img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    color: var(--colorWhite);
    background: radial-gradient(50% 50% at 50% 50%, #FF7579 0%, #F03238 100%);
    margin-right: 15px;
}

.wsus__work_item .text {
    width: 82%;
}

.wsus__work_item .text h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 8px;
}

.wsus__work_item .text p {
    font-size: 14px;
}

.wsus__work_text_area {
    position: relative;
    z-index: 1;
}

.wsus__work_text_area::after {
    position: absolute;
    content: "";
    background: url(../images/work_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 725px;
    height: 212px;
    top: 40px;
    left: -51px;
    z-index: -1;
}

/* work end */

/* famous listing start */
.wsus__famous_listing .wsus__single_listing_img,
.wsus__famous_listing .single_list_slider {
    height: 200px;
}

.wsus__famous_listing .prevArrow.slick-arrow,
.wsus__famous_listing .nextArrow.slick-arrow {
    bottom: 8px;
}

/* famous listing end */


/* testimonial start */
.wsus__testimonial {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__testimonial_overlay {
    background: rgba(255, 255, 255, 0.80);
}

.wsus__single_testimonial {
    background: var(--colorWhite);
    padding: 75px 45px 90px 45px;
    border-radius: 10px;
    position: relative;
    margin: 130px 12px 27px 12px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_testimonial::after {
    position: absolute;
    content: "";
    background: url(../images/quot_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 80px;
    top: -40px;
    right: 35px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_testimonial p {
    color: var(--colorBlack);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_testimonial .img {
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
    bottom: 15px;
    left: 80px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_testimonial .img img {
    transition: all linear .3s;
    border: 2px solid var(--colorWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_testimonial .img::after {
    position: absolute;
    content: "";
    background: url(../images/testimonial_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 95px;
    top: -13px;
    left: -13px;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__testimonial_footer h3 {
    font-size: 18px;
    font-weight: 600;
}

.wsus__testimonial_footer h3 i {
    color: var(--ratingColor);
    margin-left: 3px;
}

.wsus__testimonial_footer p {
    color: var(--colorBlack);
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.testimonial_slider .slick-center .wsus__single_testimonial {
    padding-top: 90px;
    margin-top: 65px;
}

.testimonial_slider .slick-center .wsus__single_testimonial::after {
    width: 140px;
    height: 100px;
}

.testimonial_slider .slick-center .wsus__single_testimonial .img {
    width: 50px;
    height: 50px;
    bottom: 5px;
}

.testimonial_slider .slick-center .wsus__single_testimonial .img::after {
    width: 82px;
    height: 118px;
    top: -16px;
    left: -17px;
}

.testimonial_slider .slick-dots {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: -140px;
    gap: 5px;
}

.testimonial_slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #9E9E9E;
    transition: all linear .3s;
}

.testimonial_slider .slick-dots li.slick-active button {
    background: var(--colorPrimary);
}

/* testimonial end */


/* blog start */
.wsus__single_blog {
    border-radius: 5px;
    background: var(--colorWhite);
    box-shadow: 0px 0px 15px 0px rgba(194, 194, 194, 0.25);
    overflow: hidden;
    margin-top: 25px;
}

.wsus__single_blog_img {
    display: block;
    height: 230px;
    overflow: hidden;
}

.wsus__single_blog_img img {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_blog_text {
    padding: 30px;
}

.wsus__single_blog_text ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.wsus__single_blog_text ul li {
    color: var(--paraColor);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.wsus__single_blog_text ul li span {
    display: block;
    width: 15px;
}

.wsus__single_blog_text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
}

.wsus__single_blog:hover .wsus__single_blog_img img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/* blog end */


/* subscription start */
.wsus__subscription {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__subscription_text h4 {
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 600;
}

.wsus__subscription_text h2 {
    color: var(--colorWhite);
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
}

.wsus__subscription_text p {
    color: var(--colorWhite);
    margin-bottom: 37px;
}

.wsus__subscription_text form {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.wsus__subscription_text form input {
    padding: 25px 20px;
}

.wsus__subscription_text form button {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* subscription end */

/* footer start */
footer {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__footer_overlay {
    background: rgba(255, 255, 255, 0.80);
}

.wsus__footer_info .footer_logo {
    display: block;
    width: 180px;
}

.wsus__footer_info .description {
    color: #373737;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
}

.wsus__footer_info .action {
    color: #373737;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding-left: 30px;
    position: relative;
    margin-top: 10px;
    transition: all linear .3s;
}

.wsus__footer_info .action i {
    position: absolute;
    left: 0;
    top: 3px;
    color: var(--colorPrimary);
}

.wsus__footer_info a.action:hover {
    color: var(--colorPrimary);
}

.wsus__footer_apps h3,
.wsus__footer_link h3 {
    color: #373737;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.wsus__footer_link ul li {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__footer_link ul li a {
    color: #373737;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
    margin-top: 10px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__footer_link ul li a::after {
    position: absolute;
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 600;
    font-size: 10px;
    top: 3px;
    left: 0;
    color: #373737;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    z-index: 1;
}

.wsus__footer_link ul li a:hover,
.wsus__footer_link ul li a:hover::after {
    color: var(--colorPrimary);
}

.wsus__footer_link ul li:hover {
    padding-left: 5px;
}

.wsus__footer_apps ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 25px;
}

.wsus__footer_apps ul li a {
    border-radius: 5px;
    overflow: hidden;
    display: block;
}

.wsus__copyright {
    background: #3F3737;
    padding: 25px;
}

.wsus__copyright_text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.wsus__copyright_text p {
    color: var(--colorWhite);
    font-size: 14px;
    font-weight: 400;
}

.wsus__copyright_text ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.wsus__copyright_text ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__copyright_text ul li a:hover {
    background: var(--colorWhite);
    color: var(--colorPrimary);
}

/* footer end */
/*===================================
    HOME PAGE END
===================================*/


/*===================================
    LISTING TOPBAR START
===================================*/





/*===================================
    LISTING TOPBAR END
===================================*/















/*===================================
    START
===================================*/

/*===================================
    END
===================================*/