/*===================================
    GLOBAL CSS START
===================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--bodyFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #FF5A5F;
    --paraColor: #6C6C6C;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --ratingColor: #FF9900;
    --bodyFont: 'Poppins', sans-serif;
}






.common_btn {
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 500;
    background: #FFE4E5;
    padding: 13px 30px;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common_btn:hover {
    color: var(--colorPrimary);
}

.common_btn i {
    margin-left: 5px;
}

.common_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--colorPrimary);
    border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common_btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.common_btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    border-radius: 5px;
    border: 1px solid var(--colorPrimary);
    transform: scale(1.2, 1.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.common_btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.prevArrow.slick-arrow,
.nextArrow.slick-arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background: var(--colorWhite);
    color: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    transition: all linear .3s;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.nextArrow.slick-arrow,
.prevArrow.slick-arrow:hover,
.nextArrow.slick-arrow:hover {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.section_heading {
    text-align: center;
}

.section_heading h2 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section_heading p {
    font-size: 18px;
    font-weight: 400;
}



/*===================================
    GLOBAL CSS END
===================================*/



/*===================================
    HOME PAGE START
===================================*/
/* menu start */
.main_menu {
    padding: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #ffffff80;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-brand {
    padding: 0;
    margin: 0;
    max-width: 180px;
}

.main_menu .navbar-nav {
    line-height: 80px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 0px 17px;
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 500;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    margin-left: 3px;
}

.main_menu .navbar-nav .nav-item .nav-link:hover,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}

.main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main_menu .menu_right .user_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FFE4E5;
    color: var(--colorPrimary);
    border-radius: 5px;
    margin-right: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .menu_right .user_icon:hover {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.main_menu .menu_right .add_list_btn {
    margin-right: 20px;
}

.main_menu .menu_right .select_js {
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: none;
    border: none;
    padding-right: 25px;
    min-width: 100px;
}

.main_menu .menu_right .current {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.main_menu .menu_right .nice-select:after {
    right: 4px;
    margin-top: -6px;
}

.main_menu.menu_fix {
    background: var(--colorWhite);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.main_menu .wsus__droap_menu {
    position: absolute;
    width: 220px;
    background: var(--colorWhite);
    line-height: initial;
    border: 1px solid #eee;
    box-shadow: var(--boxShadow);
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    max-height: 450px;
    overflow-y: auto;
    z-index: 99;
}

.main_menu .wsus__droap_menu::-webkit-scrollbar-thumb {
    background: #ddd;
}

.main_menu .wsus__droap_menu::-webkit-scrollbar {
    scrollbar-width: thin !important;
    background: #fff;
    height: 4px;
    width: 4px;
}

.main_menu .wsus__droap_menu li a {
    font-size: 15px;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
    padding: 15px !important;
    margin: 0 !important;
    color: var(--colorBlack);
    width: 100%;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .wsus__droap_menu li a:hover,
.main_menu .wsus__droap_menu li a.active {
    background: #eef4fa;
    border-color: var(--colorWhite);
}


.main_menu .navbar-nav li:hover .wsus__droap_menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

/* menu end */


/* banner start */
.wsus__banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
    overflow: hidden;
    padding-top: 80px;
}

.wsus__banner_text {
    text-align: center;
}

.wsus__banner_text .banner_icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.wsus__banner_text h5 {
    color: #3E3E3E;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wsus__banner_text h1 {
    color: var(--colorBlack);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 60px;
}

.wsus__banner_text .nav-pills {
    margin-bottom: 30px;
    gap: 10px;
}

.wsus__banner_text .nav-pills .nav-item button {
    color: var(--colorBlack);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 7px;
    padding: 9px 24px;
    position: relative;
}

.wsus__banner_text .nav-pills .nav-item button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid var(--colorPrimary);
    bottom: -11px;
    left: 12px;
    opacity: 0;
    transition: all linear .1s;
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -ms-transition: all linear .1s;
    -o-transition: all linear .1s;
}

.wsus__banner_text .nav-pills .nav-item button i {
    margin-right: 5px;
}

.wsus__banner_text .nav-pills .nav-item button:hover,
.wsus__banner_text .nav-pills .nav-item button.active {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.wsus__banner_text .nav-pills .nav-item button.active::after {
    opacity: 1;
}

.banner_search_form {
    border-radius: 5px;
    background: #F2F6F7;
    filter: drop-shadow(0px 0px 25px rgba(94, 94, 94, 0.25));
    padding: 20px;
    width: 100%;
}

.banner_search_form ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner_search_form ul li input {
    padding: 17px 20px;
    border-radius: 5px;
    border: 1px solid #EFEEEE;
}

.banner_search_form ul li button {
    width: 100%;
    text-align: center;
}

.banner_search_form ul .banner_input,
.banner_search_form ul .banner_category,
.banner_search_form ul .banner_location {
    width: 27%;
}

.banner_search_form ul .banner_btn {
    width: 12%;
}

.banner_search_form .select2-container .select2-selection--single {
    height: 60px;
}

.banner_search_form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 60px;
}

.banner_search_form .select2-container--default .select2-selection--single {
    border-radius: 5px;
    border: 1px solid #EFEEEE;
}

.wsus__banner_bottom_text h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.wsus__banner_bottom_text h2 i {
    margin-left: 10px;
    color: var(--ratingColor);
}

.wsus__banner_bottom_text p {
    color: var(--colorBlack);
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.wsus__banner_bottom_text .img {
    width: 230px;
    margin: 0 auto;
}

/* banner end */




/* category start */
.wsus__category {}

.wsus__category_bg {
    border-radius: 10px;
    background: var(--colorWhite);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
    margin-top: -113px;
}

.wsus__category_item {
    display: block;
    border-radius: 10px;
    background: #F1F1F1;
    padding: 25px;
    margin: 0px 12px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__category_item .icon {
    width: 90px;
    height: 90px;
    background: var(--colorWhite);
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
}

.wsus__category_item h3 {
    color: var(--colorBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    margin-top: 20px;
}

.wsus__category_item:hover {
    background: var(--colorPrimary);
}

.wsus__category_item:hover h3 {
    color: var(--colorWhite);
}

.wsus__category .slick-arrow {
    position: absolute;
    top: 50%;
    right: -33px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.wsus__category .prevArrow.slick-arrow {
    right: auto;
    left: -33px;
}

/* category end */


/* features start */
.wsus__features_item {
    text-align: center;
    margin-top: 25px;
}

.wsus__features_item .img {
    width: 150px;
    margin: 0 auto;
}

.wsus__features_item h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* features end */


/* latest listing start */
.wsus__latest_listing {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.wsus__single_listing {
    margin-top: 25px;
    border-radius: 5px;
    background: var(--colorWhite);
    box-shadow: 0px 0px 25px 0px rgba(194, 194, 194, 0.25);
    overflow: hidden;
}

.wsus__single_listing_img {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.wsus__single_listing_img .wishlist {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--colorWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing_img .wishlist::after {
    position: absolute;
    content: "";
    background: url(../images/love_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 30px;
    top: -3px;
    left: -33px;
    z-index: -1;
}

.wsus__single_listing_text {
    padding: 45px 30px 30px 30px;
    position: relative;
}

.wsus__single_listing_text .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--colorWhite);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
    padding: 10px;
    position: absolute;
    top: -20px;
    left: 30px;
}

.wsus__single_listing_text .category {
    color: var(--colorPrimary);
    font-size: 14px;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing_text .category:hover {
    color: var(--colorBlack);
}

.wsus__single_listing_text .rating {
    color: var(--ratingColor);
}

.title {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 600;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.title:hover {
    color: var(--colorPrimary);
}

.wsus__single_listing_text .location,
.wsus__single_listing_text .call {
    color: var(--paraColor);
    font-size: 14px;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_listing_text .location i,
.wsus__single_listing_text .call i {
    width: 20px;
}

.wsus__single_listing_text .call:hover {
    color: var(--colorPrimary);
}

.wsus__single_listing_text .location {
    margin-top: 20px;
    margin-bottom: 5px;
}

.wsus__single_listing:hover .wishlist {
    top: 3px;
}

/* latest listing end */

.play_btn {}

















/*===================================
    HOME PAGE END
===================================*/


















/*===================================
    START
===================================*/

/*===================================
    END
===================================*/